 
 

#root {
  max-width: 1280px;
  /* margin: 0 auto;
  text-align: center
  ; */
  }

 

body {
  font: "Instrument Sans";
  background-color: #ffffff;
}

/* @media (prefers-reduced-motion: no-preference) {
  scroll-behavior: font-smooth;

  [id] {
    scroll-margin-top: 60px;
  }
} */
